<!-- NAVBAR -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark" id="navbar">
  <div class="container">
    <div class="navbar-brand nav-link">
      <a href="#" class="nav-link text-white">
        <i class="fa fa-clock-o fa-2x"></i>
        <h3 class="d-inline"> WatchShop</h3>
      </a>
    </div>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navMenu">
      <i class="navbar-toggler-icon"></i>
    </button>

    <div id="navMenu" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="navbar-item">
          <a routerLink="" class="nav-link">Home</a>
        </li>
        <li class="navbar-item">
          <a routerLink="warenkorb" class="nav-link">Warenkorb</a>
        </li>
        <li class="navbar-item">
          <a routerLink="bestellung" class="nav-link">Bestellung</a>
        </li>
        <li class="navbar-item">
          <a routerLink="user" class="nav-link">User Infor</a>
        </li>
        <li class="navbar-item">
          <a routerLink="login" class="nav-link">Login</a>
        </li>
        <li class="navbar-item">
          <a routerLink="register" class="nav-link">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
