<section *ngIf="currentUser">
  <h2>Bestellungen von {{currentUser.name}}</h2>
<!--  <table class="table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th scope="col">BestellungId</th>-->
<!--      <th scope="col">Bestelldatum</th>-->
<!--      <th scope="col">Bestellungstatus</th>-->
<!--      <th></th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngIf="length ==0">-->
<!--      <td colspan="4" class="text-xs-center">Du hast noch keine Bestellung</td>-->
<!--    </tr>-->
<!--    <app-bestellung-item *ngFor="let bestellung of bestellungs" [bestellung]="bestellung"></app-bestellung-item>-->
<!--    </tbody>-->
<!--  </table>-->
  <app-bestellung-item *ngFor="let bestellung of bestellungs" [bestellung]="bestellung"></app-bestellung-item>
</section>
