<!--<div *ngFor="let bestellPosition of bestellPositions">-->
<!--  {{bestellPosition.artikel.id}} {{bestellPosition.anzahl}}-->
<!--</div>-->
<h2 *ngIf="bestellPositions != undefined">Bestellung {{bestellPositions[0].bestellung.id}}</h2>
<table class="table table-borderless">
  <thead>
  <tr>
    <th scope="col">Ind.</th>
    <th scope="col">ArtikelId</th>
    <th scope="col">Anzahl</th>
    <th scope="col">Preis</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngIf="bestellPositions == undefined">
    <td colspan="4" class="text-xs-center"><h4>noch keine Artikel bestellt</h4></td>
  </tr>
  <tr *ngFor="let bestellPosition of bestellPositions; index as i">
    <th scope="row">{{i+1}}</th>
    <td>{{bestellPosition.artikel.id}}</td>
    <td>{{bestellPosition.anzahl}}</td>
    <td>{{bestellPosition.anzahl*bestellPosition.artikel.preis| currency:'EUR'}}</td>
  </tr>
  </tbody>
</table>

<h4>GesamtPreis: {{gesamtPreis | currency:'EUR'}}</h4>
<section *ngIf="currentBestellung.bestellstatus ==='Bearbeitet'">
  <button routerLink="/bestellung" class="btn btn-primary" (click)="onBezahlen()">Bezahlen</button>
</section>
