<section class="container" *ngIf="currentUser">
  <h2 class="mt-2">Warenkorb of {{ currentUser.benutzerName }}</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Beschreibung</th>
      <th class="w-25">Anzahl</th>
      <th>Preis</th>
      <th>Gesamt Preis</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let warenkorb of warenkorbs">
      <td>{{ warenkorb.artikel.beschreibung }}</td>
      <td>
        <form class="form-inline">
          <input type="number" [value]="warenkorb.anzahl" class="form-control w-25 mr-2" >
          <button class="btn btn-info" (click)="onConfirm(warenkorb)">Confirm</button>
        </form>
      </td>
      <td>{{ warenkorb.artikel.preis }} Euro</td>
      <td>{{ warenkorb.artikel.preis * warenkorb.anzahl }} Euro</td>
    </tr>
    </tbody>
  </table>
  <h3>Total Price: {{ totalPreis }} Euro</h3>
</section>

<!--<section class="container" *ngIf="currentUser">-->
<!--  <div class="row justify-content-end">-->
<!--    <div class="col-md-4 col-sm-6 p-3" *ngFor="let warenkorb of warenkorbs">-->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">{{ warenkorb.artikel.beschreibung | titlecase }}</h5>-->
<!--          <p>{{ warenkorb.anzahl }}</p>-->
<!--          <p>{{ warenkorb.artikel.preis }} Euro</p>-->
<!--          <p>{{ warenkorb.artikel.preis * warenkorb.anzahl }} Euro</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
