<section class="container" *ngIf="currentUser">
  <h2 class="mt-2">Warenkorb of {{ currentUser.benutzerName }}</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Beschreibung</th>
      <th class="w-25">Anzahl</th>
      <th>Preis</th>
      <th>Gesamt Preis</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let warenkorb of warenkorbs; let i = index">
      <td>{{ warenkorb.artikel.beschreibung }}</td>
      <td>
        <div class="input-group">
          <input type="number" class="form-control" [value]="warenkorb.anzahl" [(ngModel)]="newAnzahlen[i]">
          <div class="input-group-append">
            <button class="btn btn-info" (click)="onConfirm(i)">Confirm</button>
          </div>
        </div>
      </td>
      <td>{{ warenkorb.artikel.preis }} Euro</td>
      <td>{{ warenkorb.artikel.preis * warenkorb.anzahl }} Euro</td>
    </tr>
    </tbody>
  </table>
  <h3>Total Price: {{ totalPreis }} Euro</h3>
</section>
