<section class="container" *ngIf="artikels">
  <div class="row justify-content-end">
    <div class="col-md-4 col-sm-6 p-3" *ngFor="let artikel of artikels">
      <div class="card">
        <div class="card-img-top text-center">
          <img src="https://source.unsplash.com/300x300/?watch" alt="" class="img-fluid">
        </div>

        <div class="card-body">
          <h5 class="card-title">{{ artikel.beschreibung | titlecase }} {{ artikel.hersteller }} {{ artikel.preis }}
            Euro
          </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, facere?</p>
          <div class="d-flex w-50 ml-auto">
            <input type="number" class="form-control" value="1">
            <button class="btn btn-info" (click)="onAddWarenkorb(artikel)">
              <i class="fa fa-shopping-cart"></i>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="container" *ngIf="!artikels">
  <h3>No artikels in system</h3>
</section>
